/* ==========================================
   ТАБЛИЦЫ А.И.Я
========================================== */


.table-wrapper {

    width:100% !important;

    overflow-x:auto;

    margin:30px 0;

}



table.aia-table {

    width:100% !important;

    border-collapse:collapse !important;

    background:#161b22 !important;

    border:1px solid #30363d !important;

    color:white;

}



table.aia-table th {

    background:#1f2937 !important;

    color:#58a6ff !important;

    border:1px solid #30363d !important;

    padding:15px !important;

    text-align:center !important;

}



table.aia-table td {

    background:#0d1117 !important;

    color:#c9d1d9 !important;

    border:1px solid #30363d !important;

    padding:12px !important;

    vertical-align:middle !important;

}



/* Код */

table.aia-table td:nth-child(1),
table.aia-table td:nth-child(2){

    text-align:center !important;

    white-space:nowrap !important;

}



/* Тип */

table.aia-table td:last-child {

    text-align:center !important;

    font-size:20px;

}



/* Наведение */

table.aia-table tr:hover td {

    background:#1f2937 !important;

}
